Flask==1.1.2
pygsheets==2.0.5
torch==1.8.1
sentencepiece==0.1.95
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0-py3-none-any.whl
transformers==4.4.2
nltk==3.5
newspaper3k==0.2.8
spacy==3.0.5
selenium==3.141.0
pandas==1.0.5